@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api İle Ziyaretçi Güncelle</h1>
<form method="post">
    <input type="hidden" asp-for="VisitorID" class="form-control" />

    <label>Ziyaretçi</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Ziyaretçi Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Ziyaretçi Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Ziyaretçi Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Ziyaretçi Ülkesi</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />
    <button class="btn btn-info">Ziyaretçiyi Güncelle</button>
</form>
