@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS MediatR Rehber Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rehber Adı</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.GuideID</th>
            <th>@item.Name</th>
            <th>@item.Description</th>
            <th><a href="#" class="btn btn-danger">Sil</a></th>
            <th><a href="/Admin/GuideMediatR/GetGuides/@item.GuideID" class="btn btn-success">Güncelle</a></th>
        </tr>
    }
</table>
<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-primary">Yeni Rehber Ekle</a>