@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

    @*layoutumuzu birer partial ayırmak için kullandık buda bizim clean code yani temiz bir kod anlamına gelen kod olmuş olduk.
    burası ise view içinde yer alan layoutpartial içinde yer almaktadır sayfalara oradan erişebiliriz.*@

@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml") 
<body>

    @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")

    @RenderBody();

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_ScriptsPartial.cshtml")
</body>
</html>








