@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await  Html.PartialAsync("/Views/MemberLayoutPartial/_HeaderPartial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturdukl onu da burda çağırdık*@

<body class="g-sidenav-show  bg-gray-100">
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturduklarında onu da burda çağırdık*@
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        @await Html.PartialAsync("/Views/MemberLayoutPartial/_Navbar2Partial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturduklarında onu da burda çağırdık*@
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            @RenderBody()
            @await Html.PartialAsync("/Views/MemberLayoutPartial/_FooterPartial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturduklarında onu da burda çağırdık*@
        </div>
    </main>
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_RightbarPartial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturduklarında onu da burda çağırdık*@
    <!--   Core JS Files   -->
    @await Html.PartialAsync("/Views/MemberLayoutPartial/_ScriptsPartial.cshtml") @*views klasörüne sağ tıklayıp bir partial oluşturduklarında onu da burda çağırdık*@
</body>

</html>
