@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Şifreyi Giriniz...</label>
        <input type="text" asp-for="Password" class="form-control" />
        <br />
        <label>Şifreyi Tekrar Giriniz...</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" />
        <br />
        <button class="btn btn-primary">Şifre yenile</button>
    </form>
</div>
